.vscode/

/**/node_modules/
/**/__pycache__/
/**/static/dist/

/**/secrets.json

/**/webpack-stats.json


/django-vue/Include/
/django-vue/Lib/
/django-vue/Scripts/
/django-vue/tcl/

/**/migrations/0001_initial.py


/**/db.sqlite3*
/**/data/
/**/json/
/**/django-vue/.static_root/
/**/django-vue/djangoAPI/logs/*.log
