@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Anton|Architects+Daughter|Big+Shoulders+Text|Black+Han+Sans|Bungee+Inline|Cinzel+Decorative|Coda+Caption:800|Do+Hyeon|Exo|Exo+2|Jomolhari|Josefin+Sans|Jua|Kelly+Slab|Liu+Jian+Mao+Cao|Love+Ya+Like+A+Sister|Monoton|Nanum+Gothic|Nixie+One|Noto+Sans+KR|Rajdhani|Raleway|Roboto|Saira+Extra+Condensed|Share+Tech+Mono|Sirin+Stencil|Song+Myung|Ubuntu&display=swap');

.title-family{
    // font-family: 'netflix-font'; // 1 1 1 
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 2.5em;
}

.content-family{
    // font-family: 'Raleway', sans-serif;
    font-family: 'netflix-font'; // 1 1 1 
    letter-spacing: 1px;
    font-size: 1.2em;
}
