$colors: (
  primary: #006400,
  secondary: #217a25,
  light: #fff,
  dark: #222,
  error: #ff2818,
);

$breakpoints: (
  mobile: 480px,
  xsmall: 560px,
  small: 767px,
  medium: 992px,
  large: 1200px,
);

$background-color: #221f1f;
$primary-color: #e50914;
$text-color: #f5f5f1;
$scroll-width: 18px;
$text-gray-color: rgba(245, 245, 241,.6);

$animationDuration: 0.5s;
$mobile-breakpoint: 480px;
$xsmall-breakpoint: 560px;
$small-breakpoint: 767px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;